@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/JqueryMin.js"></script>
</head>
<body>
    <script>
        $(document).ready(function () {

            window.location.replace("http://sepandpay.com/");

        });
    </script>
</body>
</html>
